body {
   font-family: 'Open Sans', sans-serif; 
}

html {
    font-size: 10px;
}

a:focus, a:active, a:visited {
    text-decoration: none;
    outline: none;
}

.image {
    width: 100%;
    height: 200px;
    background: url(../img/portfolio/1.jpg) no-repeat center;
    background-size: cover;
}

.image-2 {
    width: 100%;
    height: 200px;
    background: url(../img/portfolio/2.jpg) no-repeat center;
    background-size: cover;
}

.image-3 {
    width: 100%;
    height: 200px;
    background: url(../img/portfolio/3.jpg) no-repeat center;
    background-size: cover;
}

.wrapper {
    display: table-cell;
    vertical-align: middle;
}

.main-overlay {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5)
}

.main {
    position: relative;
    display: table;
    width: 100%;
    text-align: center;
    color: #fff;
    height: 100vh;
    background: #000 url(../img/main-bg.jpg) center center no-repeat;
    background-attachment: fixed;
}

.main-header {
    position: relative;
    z-index: 2;
}

.main h1 {
    margin-bottom: 1.5rem;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 4.8rem;
}

.main p {
    font-size: 3rem;
    font-weight: 300;
}

.main-line {
    width: 300px;
    height: 1px;
    background-color: #fff;
    margin: 0 auto;
}

.main-down {
    position: absolute;
    color: #fff;
    z-index: 4;
    bottom: 2rem;
    display: inline-block;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid transparent;
    line-height: 50px;
    left: 50%;
    margin-left: -25px;
    transition: 0.3s;
}

.main-down:hover {
    color: #fff;
    border-color: #fff;
}

/*Раздел с портфолио*/

.portfolio {
    padding: 13rem 0px;
    text-align: center;
}

.section-header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3.6rem;
    margin-bottom: 7rem;
}

.portfolio img {
    width: 100%;
   
    max-width: 360px;
    box-shadow: 0px 4px 29px 0px rgba(85, 92, 97, 0.54);
}

.portfolio a {
    display: block;
    margin: 3rem auto 6rem;
    color: #333;
    width: 17rem;
    border-bottom: 1px solid transparent;
}

.portfolio a:hover {
    text-decoration: none;
    border-bottom: 1px dotted #333;
}

/*Раздел Подвал*/

.footer {
    background-color: #545454;
    color: #fff;
    text-align: center;
    padding: 3rem 0;
}

.footer strong {
    font-weight: 300;
    font-size: 2.4rem;
}

.social-links {
    margin-top: 1.5rem;
}

.social-links a {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    display: inline-block;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 50%;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
    transition: 0.3s;
}

.social-links a:hover {
    background-color: #fff;
    color: #545454;
}

.offer-btn {
    display: block;
    width: 80%;
    max-width: 200px;
    margin: 1rem auto;
    border: 1px solid #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #fff;
    border-radius: 100px;
    transition: 0.3s;
}

.offer-btn:hover {
    text-decoration: none;
    background-color: #fff;
    color: #545454;
}

.modal img {
    width: 100%;
}

.modal-title {
    font-weight: 800;
    font-size: 2rem;
}

.close {
    background-color: transparent;
    border: none;
    font-size: 2.5rem;
    position: absolute;
    right: 2rem;
    top: 1rem;
}

.modal-btn {
    display: inline-block;
    color: #333;
    border: 1px solid #333;
    padding: 10px 20px;
    border-radius: 5px;
}

.modal-btn:hover {
    text-decoration: none;
    background-color: indianred;
    color: #fff;
}

@media (min-width: 0px) and (max-width: 767px) {
    html {
        font-size: 7px;
    }
    .footer strong {
        margin: 4rem 0 1.5rem;
        display: inline-block;
    }
    
    .social-links {
        font-size: 2rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer strong {
        margin: 4rem 0 1.5rem;
        display: inline-block;
}